<form #f="ngForm" (ngSubmit)="submit(f)">
  <!-- next 2 lines, with ngModelGroup and div below it not always necessary -->
  <div ngModelGroup="contactInfo" #contact="ngModelGroup">
    <div *ngIf="!contact.valid"></div>
      <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <!-- IMPORTANT NOTE BELOW:  (change)="log(oldPassword)" is running a function
             called "log()" that is in .ts file, that occurs once change of this field -->
        <input
          required
          minlength="3"
          maxlength="30"
          pattern="1234"
          ngModel
          name="oldPassword"
          #oldPassword="ngModel"
          (change)="log(oldPassword)"
          id="oldPassword"
          type="text"
          class="form-control"
        >
        <!-- for validation to check things are input properly, add boostrap "alert"
             only when ngModel object is valid (see browser console)
             oldPassword.touched  makes warning not appear right away on page load, only when user touches it and then moves away -->
        <div
          class="alert alert-danger"
          *ngIf="oldPassword.touched && !oldPassword.valid">
          <div *ngIf="oldPassword.errors.required">Old password is required.</div>
          <!-- <div *ngIf="oldPassword.errors.minlength">First name must be min 3 chars, max 30 char</div> -->
          <div *ngIf="oldPassword.errors.minlength">First name must be min {{ oldPassword.errors.minlength.requiredLength }} chars, max 30 char</div>
          <div *ngIf="oldPassword.errors.pattern">Your old password is incorrect</div>
        </div>
      </div>


      <!--NEW PASSWORD  -->

      <!-- next 2 lines, with ngModelGroup and div below it not always necessary -->
          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input
              required
              minlength="5"
              maxlength="30"
              ngModel
              name="newPassword"
              #newPassword="ngModel"
              (change)="log(newPassword)"
              id="newPassword"
              type="text"
              class="form-control"
            >
            <!-- for validation to check things are input properly, add boostrap "alert"
                 only when ngModel object is valid (see browser console)
                 newPassword.touched  makes warning not appear right away on page load, only when user touches it and then moves away -->
             <div
              class="alert alert-danger"
              *ngIf="newPassword.touched && !newPassword.valid">
               <div *ngIf="newPassword.errors.required">New password is required.</div>
              <div *ngIf="newPassword.errors.minlength">New password must be min {{ newPassword.errors.minlength.requiredLength }} chars, max 30 char</div>
            </div>
          </div>


          <!--CONFIRM PASSWORD  -->

          <!-- next 2 lines, with ngModelGroup and div below it not always necessary -->
              <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input
                  required
                  pattern="{{ newPassword.value }}"
                  ngModel
                  name="confirmPassword"
                  #confirmPassword="ngModel"
                  (change)="log(confirmPassword)"
                  id="confirmPassword"
                  type="text"
                  class="form-control"
                >
                <!-- for validation to check things are input properly, add boostrap "alert"
                     only when ngModel object is valid (see browser console)
                     confirmPassword.touched  makes warning not appear right away on page load, only when user touches it and then moves away -->
                <div
                  class="alert alert-danger"
                  *ngIf="confirmPassword.touched && !confirmPassword.valid">
                  <div *ngIf="confirmPassword.errors.required">Password mus be confirmed.</div>
                  <div *ngIf="confirmPassword.errors.pattern">Passwords do not match</div>
                </div>
              </div>


  <button class="btn btn-primary" [disabled]="!f.valid">Change Password</button>
  <!-- can disable the button if the entire form (called "f" at the top:  ""<form #f=...") -->
