<form [formGroup]="form">

  <!-- (div.form-group>label+input[type='passowrd'].form-control)*3+button.btn.btn-primary -->

  <!-- OLD PASSWORD -->
  <div class="form-group">
    <label for="">Old Password</label>
    <!-- <input type="password" class="form-control"> -->
    <input formControlName="oldPassword" type="password" class="form-control">
    <!-- formControlName="oldPassword" must be in the ts file:
    this.form = fb.group({
      oldPassword: ['', Validators.required],  -->

      <!-- *ngIf="form.get('oldPassword')" was made shorter by variables in the ts file
           and changed to below: -->
       <div
          *ngIf="oldPassword.touched && oldPassword.invalid"
          class="alert alert-danger">
             <div *ngIf="oldPassword.errors.required">
                 Old password is required.
             </div>
             <div *ngIf="oldPassword.errors.invalidOldPassword">
                 What you have entered does not match our records.
             </div>
       </div>
  </div>

  <!-- NEW PASSWORD -->
  <div class="form-group">
      <label for="">New Password</label>
      <input formControlName="newPassword" type="password" class="form-control">
      <div
         *ngIf="newPassword.touched && newPassword.invalid"
         class="alert alert-danger">
            <div *ngIf="newPassword.errors.required">
                New password is required.
            </div>
      </div>
  </div>

  <!-- CONFIRM PASSWORD -->
  <div class="form-group">
      <label for="">Confirm Password</label>
      <input formControlName="confirmPassword" type="password" class="form-control">
      <div
          *ngIf="confirmPassword.touched && confirmPassword.invalid"
          class="alert alert-danger">
              <div *ngIf="confirmPassword.errors.required">
                Confirm password is required.
              </div>
      </div>
      <div *ngIf="confirmPassword.valid && form.invalid && form.errors.passwordsShouldMatch" class="alert alert-danger">
          Password does not match chosen new password.
      </div>
  </div>

  <button class="btn btn-primary">Change Password</button>
</form>
